<header class="header">
  <span class="header__heading">
    <a routerLink="/" class="header__logo" aria-label="Home" ></a>
    <h1 class="header__title">{{ text.title }}</h1>
  </span>

  <app-uploader></app-uploader>
</header>
