.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  &__heading {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  &__logo {
    background: url(https://www.rabobank.nl/static/generic/css/images/s14/rabobank-logo.png) no-repeat;
    background-size: contain;
    display: inline-block;
    flex: none;
    height: 80px;
    width: 67px;
    margin-right: 20px;
  }
}