@import '../../styles/theme.scss';

@mixin maxWidth() {
  max-width: 480px;
}

.upload-results {
  font-size: 1.4rem;

  &__subtitle {
    margin-bottom: 0;
  }

  &__content {
    margin: 0 auto;
    @include maxWidth();
  }
}

.csv-table {
  border: solid 1px $color-border;
  border-radius: 5px;
  font-size: 1.4rem;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  
  &__row:nth-child(odd) {
    background-color: $color-table-background;
  }

  &__cell {
    text-align: center;
  }

  &__title {
    margin-bottom: 5px;
  }
}

.csv-notable {
  border: solid 1px $color-border;
  border-radius: 5px;
  font-size: 1.8rem;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  width: 100%;
  padding: 15px;
}

.issue-filter {
  font-size: 1.4rem;
  margin: 0 auto 20px;
  @include maxWidth();

  &__inputs {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
  }

  &__input {
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $color-border;
  }

  &__label {
    margin: 15px 20px 15px 0;
    white-space: nowrap;
  }

  &__checkbox {
    border: solid 1px $color-border;
  }
}