<section class="upload-results">
  <div class="issue-filter" *ngIf="tableData.tableHeaders">
    <h3 class="upload-results__subtitle">Filter (issue count):</h3>
    <div class="issue-filter__inputs">
      <label class="issue-filter__label" for="eq">
        Equal to: <input class="issue-filter__checkbox" type="checkbox" name="equal-to" id="eq" (click)="toggleFilter('equal')" />
      </label>
      <label class="issue-filter__label" for="gt">
        Greater than: <input class="issue-filter__checkbox" type="checkbox" name="greaater-than" id="gt" (click)="toggleFilter('greaterThan')" />
      </label>
      <label class="issue-filter__label" for="lt">
        Less than: <input class="issue-filter__checkbox" type="checkbox" name="less-than" id="lt" (click)="toggleFilter('lessThan')" />
      </label>
      <input class="issue-filter__input" type="number" aria-label="Filter value" (input)="setFilterValue($event.target.value)" placeholder="Issue count" />
    </div>
  </div>

  <div class="upload-results__content" *ngIf="tableData.tableHeaders">
<h3 class="upload-results__subtitle csv-table__title">CSV Data:</h3>
    <table class="csv-table"  aria-label="Upload results table">
      <thead>
        <tr>
          <th *ngFor="let header of tableData.tableHeaders">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of filteredBody(tableData.tableBody)" class="csv-table__row">
          <td *ngFor="let cell of getCells(row)" class="csv-table__cell">{{cell}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!tableData.tableHeaders" class="csv-notable" aria-label="System messages">{{ displayMessage() }}</div>
</section>
