@import './variables.scss';
@import './mixins.scss';

html {
  font-size: $base-font-size;
  font-family: Helvetica, Arial;
}

* {
  box-sizing: border-box;
}

.button {
  &__standard {
    @include standardButton();
  }
}