@import './theme.scss';
@import './variables.scss';

@mixin standardButton() {
  background-color: $button-background;
  border: none;
  border-radius: 10px;
  color: $button-text;
  cursor: pointer;
  padding: $button-padding;
  transition: color .3s ease-out 0s, background-color .3s ease-out 0s;
  
  &:hover {
    background-color: $button-background-lighter;
    color: $button-text-darker;
  }
}