/* Buttons */
$button-background: rgba(251, 131, 11, 1);
$button-background-lighter: rgba(248, 157, 66, 1);

$button-text: rgba(255, 255, 255, 1);
$button-text-darker: rgba(235, 234, 232, 1);

$color-highlight: #0DB5E6;
$color-table-background: $button-background;
$color-border: #797CA7;
$color-white: #ffffff;
