<button class="upload-button" aria-label="Uplaod a CSV" tabindex="-1">
  <label for="file-upload" class="upload-button__label button__standard"  tabindex="1">
    <input type="file" name="file-upload" id="file-upload" class="upload-button__file" aria-hidden="true" (change)="getCsvData($event.target.files[0])" />
    Upload a CSV
  </label>
</button>
