@import '../../styles/variables.scss';
@import '../../styles/theme.scss';
@import '../../styles/mixins.scss';
.upload-button {
  border: none;
  background: none;
  overflow: hidden;

  &__file {
    display: none;
  }

  &__label {
    border: solid 2px transparent;
    display: block;

    &:focus {
      border: solid 2px $color-highlight;
      outline: none;
    }
  }
}
