<!--The content below is only a placeholder and can be replaced.-->
<div class="app-wrapper">
  <app-header></app-header>
  
  <main>
    <app-data-table></app-data-table>
  </main>
</div>

<router-outlet></router-outlet>
